.total {
    display: flex;
    flex-direction: column;
    background: #F6F8FA;
    padding: 35px 30px;
    margin: 60px 0 0 55px;
    color: #1F2432;
    border-radius: 5px;
}

.smallTitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
}

.rowPoint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    font-size: 16px;
    margin-bottom: 16px;
}

.descriptionValue {
    font-size: 18px;
    font-weight: 600;
}

.valueOfGoods {
    font-size: 26px;
    font-weight: 600;
}