.productsInBasket {
    position: absolute;
    padding: 2px 4px;
    background-color: rgb(150, 145, 145);
    border-radius: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 2;
    left: 18px;
    top: -10px;
}